#skill .skill {
  margin-top: 5rem;
  padding-top: 5rem;
}

#skill .skill h1 {
  font-size: 4rem;
  font-weight: 100;
  color: black;
  line-height: 110%;
  text-align: center;
  margin-bottom: 1rem;
}

#skill .skill h2 {
  font-size: 2.5rem;
  font-weight: 100;
  color: black;
  line-height: 140%;
  margin-left: -3px;
  margin-right: -3px;
}

#skill .skill p {
  font-size: 1.5rem;
  font-weight: 200;
  color: black;
  line-height: 140%;
  margin-top: 1rem;
  max-width: 20rem;
}

#skill .skill .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  background-position: 50% 50%;
}

#skill .skill .boxes .box {
  margin: 1rem 0;
  background-color: white;
  padding: 2rem;
}

#skill .skill .boxes .box .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skill .skill .boxes .box .dots .dot {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  margin: 0 .5rem;
  background-color: transparent;
  border: 1px solid #707070;
}

#skill .skill .boxes .box .dots .dot:first-child {
  margin-left: 2px;
}

#skill .skill .boxes .box .dots .dot:last-child {
  margin-right: 0;
}

#skill .skill .boxes .box .dots .dot.fill {
  border: none;
  background-color: #FF6498;
}

#skill .skill .boxes .box8 {
  display: none;
}

@media only screen and (min-width: 576px) {
  #skill .skill {
    margin-top: 5.5rem;
    padding-top: 5.5rem;
  }
  #skill .skill h1 {
    font-size: 5rem;
  }
  #skill .skill h2 {
    font-size: 3rem;
  }
  #skill .skill p {
    font-size: 1.6rem;
    max-width: 20rem;
  }
  #skill .skill .boxes .box .dots .dot {
    width: .8rem;
    height: .8rem;
  }
}

@media only screen and (min-width: 768px) {
  #skill .skill {
    margin-top: 6rem;
    padding-top: 6rem;
  }
  #skill .skill h1 {
    font-size: 5.5rem;
  }
  #skill .skill h2 {
    font-size: 3.5rem;
  }
  #skill .skill p {
    font-size: 1.7rem;
    max-width: 22rem;
  }
  #skill .skill .boxes .box .dots .dot {
    width: .85rem;
    height: .85rem;
  }
}

@media only screen and (min-width: 992px) {
  #skill .skill {
    margin-top: 4rem;
    padding-top: 4rem;
  }
  #skill .skill .boxes {
    display: -ms-grid;
    display: grid;
    text-align: initial;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: ". box8 box1" "box2 box8 ." ". box8 box3" "box4 box8 ." ". box8 box5" "box6 box8 ." ". box8 box7";
    background: none;
    max-width: initial;
    padding: 0;
  }
  #skill .skill .boxes .line {
    display: none;
  }
  #skill .skill .boxes .box {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0;
    background-color: transparent;
    padding: 0;
  }
  #skill .skill .boxes .box .dots {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  #skill .skill .boxes .box .dots .dot {
    width: .9rem;
    height: .9rem;
  }
  #skill .skill .boxes .box1 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: box1;
  }
  #skill .skill .boxes .box2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: box2;
    text-align: right;
    justify-self: flex-start;
  }
  #skill .skill .boxes .box2 .dots {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #skill .skill .boxes .box3 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: box3;
  }
  #skill .skill .boxes .box4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: box4;
    text-align: right;
    justify-self: flex-start;
  }
  #skill .skill .boxes .box4 .dots {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #skill .skill .boxes .box5 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: box5;
  }
  #skill .skill .boxes .box6 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: box6;
    text-align: right;
    justify-self: flex-start;
  }
  #skill .skill .boxes .box6 .dots {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #skill .skill .boxes .box7 {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    grid-area: box7;
  }
  #skill .skill .boxes .box8 {
    display: initial;
    -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    -ms-grid-column: 2;
    grid-area: box8;
  }
  #skill .skill .boxes .box8 img {
    width: 100%;
    height: auto;
  }
  #skill .skill h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
  #skill .skill h2 {
    font-size: 3rem;
  }
  #skill .skill p {
    font-size: 1.5rem;
    max-width: 25rem;
  }
}

@media only screen and (min-width: 1100px) {
  #skill .skill h1 {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  #skill .skill {
    margin-top: 5rem;
    padding-top: 5rem;
  }
  #skill .skill h1 {
    font-size: 5rem;
  }
  #skill .skill h2 {
    font-size: 3.5rem;
  }
  #skill .skill p {
    font-size: 1.6rem;
    max-width: 30rem;
  }
  #skill .skill .boxes .box .dots .dot {
    width: 1rem;
    height: 1rem;
  }
}

@media only screen and (min-width: 1400px) {
  #skill .skill {
    margin-top: 6rem;
    padding-top: 6rem;
  }
  #skill .skill h1 {
    font-size: 6rem;
  }
  #skill .skill h2 {
    font-size: 4rem;
  }
  #skill .skill p {
    font-size: 1.7rem;
    max-width: 28rem;
  }
}

@media only screen and (min-width: 1500px) {
  #skill .skill {
    margin-top: 7rem;
    padding-top: 7rem;
  }
  #skill .skill h1 {
    font-size: 7rem;
    margin-bottom: 1rem;
  }
  #skill .skill h2 {
    font-size: 4.5rem;
  }
  #skill .skill p {
    font-size: 1.8rem;
    max-width: 30rem;
  }
}

@media only screen and (min-width: 1600px) {
  #skill .skill {
    margin-top: 10rem;
    padding-top: 10rem;
  }
  #skill .skill h1 {
    font-size: 8rem;
    margin-bottom: 2rem;
  }
  #skill .skill h2 {
    font-size: 5rem;
  }
  #skill .skill p {
    font-size: 2rem;
    max-width: 33rem;
  }
}
