@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.container {
  max-width: 1560px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.img-container svg {
  width: 100%;
  height: auto;
}

::-moz-selection {
  background: #ffd5e4;
}

::selection {
  background: #ffd5e4;
}

@media only screen and (max-width: 992px) {
  body.active {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}
