#work .work {
  margin-top: 5rem;
  padding-top: 5rem;
}

#work .work h1 {
  font-size: 4rem;
  font-weight: 100;
  color: black;
  line-height: 110%;
  text-align: center;
  margin-bottom: 3rem;
}

#work .work .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media only screen and (min-width: 576px) {
  #work .work {
    margin-top: 5.5rem;
    padding-top: 5.5rem;
  }
  #work .work h1 {
    font-size: 5rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  #work .work {
    margin-top: 6rem;
    padding-top: 6rem;
  }
  #work .work h1 {
    font-size: 5.5rem;
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 992px) {
  #work .work {
    margin-top: 4rem;
    padding-top: 4rem;
  }
  #work .work h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 1100px) {
  #work .work h1 {
    font-size: 4.5rem;
    margin-bottom: 3.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  #work .work {
    margin-top: 5rem;
    padding-top: 5rem;
  }
  #work .work h1 {
    font-size: 5rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1400px) {
  #work .work {
    margin-top: 6rem;
    padding-top: 6rem;
  }
  #work .work h1 {
    font-size: 6rem;
    margin-bottom: 4.5rem;
  }
}

@media only screen and (min-width: 1500px) {
  #work .work {
    margin-top: 7rem;
    padding-top: 7rem;
  }
  #work .work h1 {
    font-size: 7rem;
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 1600px) {
  #work .work {
    margin-top: 10rem;
    padding-top: 10rem;
  }
  #work .work h1 {
    font-size: 8rem;
    margin-bottom: 5rem;
  }
}
